{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <img class="center-image" src="{{ url_for('static', filename='foto_perfil.png') }}" >
    <p class="text-monospace">&nbsp;&nbsp;Hi, my name is Wesley, I'm a Control and Automation Engineer, currently working as Data Scientist at Florianopolis-Brasil.
        I am a technology enthusiast, and I find math modelling is kind of amazing, so all the AI and Machine Learning
        development really turns me on.
    </p>
    <p class="text-monospace">
        &nbsp;&nbsp;Besides, I really enjoy cinema, too bad we won't be able to go there soon, I hope this COVID-19 problem doesn't last for too long.
    </p>
    <p class="text-monospace">
        &nbsp;&nbsp;I'm writing this blog in the first place to actually see how it is to code a blog from Scratch, and also to publish some
        interesting thoughts I have (Hopefully).
    </p>
{% endblock %}
