{% extends "layout.html" %}

{% block title %}
    Professional
{% endblock %}

{% block main %}
    <div class="blockdiv">
        <h3 class="post-title">Academic Formation:</h3>
        <div class="text-monospace">
          <ul>
              <li>Bacharelor in <a href="https://automacao.ufsc.br/">Control and Automation Enginnering - Federal University of Santa Catarina.</a></li>
              <li>(INTERUPTED) Masters in <a href="https://ppgmec.posgrad.ufsc.br/">Applied Machine Learning to Mechanical Engineering - Federal University of Santa Catarina.</a></li>
          </ul>
        </div>
    </div>
    <hr>

    <div class="blockdiv">
        <h3 class="post-title">Experiences:</h3>
        <div class="text-monospace">
          <ul>
            <li>Engineering Researcher for Applied Refrigeration Systems at <a href="https://www.embraco.com/en/">Embraco.</a> (2017/01 - 2018/01)</li>
            <li>Data Scientist at <a href="https://www.intexfy.com/">Intexfy</a> (2018/10 - 2019/02)</li>
            <li>Data Scientist at <a href="https://code7.com/">Code7 </a>, focused on Supervised Machine Learning models. (2019/02 - Current)</li>
            <ul>
                <li><a href="https://www.python.org/">Python</a> as the core development back-end language.</li>
                <li><a href="https://scikit-learn.org/">Scikit-Learn</a> and all the other Scikit-API-Like ML-Libraries for Machine-Learning development over Tabular Data.</li>
                <li>Git</li>
                <li>Linux Server</li>
            </ul>
          </ul>
        </div>
    </div>
    <hr>

  <div class="blockdiv">
    <h3 class="post-title">Certificates:</h3>
    <div class="text-monospace">
      <ul>
        <li><a href="https://www.coursera.org/account/accomplishments/records/FZDKQQGDQAT3">Machine Learning - Standford University</a></li>
        <li><a href="https://www.coursera.org/account/accomplishments/records/6Z8BCLNYPKEA">Introduction to Data Science in Python - University of Michigan</a></li>
        <li><a href="https://www.coursera.org/account/accomplishments/records/AJRL23GXYGVV">How to Win a Data Science Competition: Learn from Top Kagglers - National Research University Higher School of Economics</a></li>
        <li> (ONGOING) <a href="https://www.edx.org/course/cs50s-introduction-to-computer-science">Harvard CS50 - Introduction to Computer Science</a></li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="blockdiv">
    <h3 class="post-title">Personal Projects can be found in:</h3>
    <div class="text-monospace">
      <ul>
        <li><a href="https://github.com/wesleyjr01">GitHub | github.com/wesleyjr01</a>, in my GitHub you will find a mix of Personal Projects and Coding-Along Courses.</li>
      </ul>
    </div>
  </div>
  <hr>
{% endblock %}
